body {
    background-color: rgb(241, 138, 65);
    margin: 0;
}

nav {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(182, 107, 20);
    align-items: center;
    height: 50px;
    padding-right: 20px;
}

nav a {
    padding: 15px;
    color: antiquewhite;
    text-decoration: none;
}

h2 {
    text-align: center;
    color: white;
    margin-top: 30px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 30px;
}

.profile {
    border-collapse: collapse;
    width: 400px;
    background-color: chocolate;
    color: white;
}

.profile th {
    background-color: darkorange;
    padding: 15px;
    font-size: 18px;
}

.profile td {
    border: 1px solid white;
    padding: 10px;
}

img {
    width: 300px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.4);
}

footer {
    color: antiquewhite;
    padding: 10px;
    text-align: center;
    margin-top: 50px;
}